<section>
  <div>
    {%- assign a = 00 -%}
    {%- assign b = 00 -%}
    {%- assign c = 00 -%}
    {% for block in section.blocks %}
    {% assign title = block.settings.title %}
    {% assign option_1 = block.settings.option_1 %}
    {% assign option_2 = block.settings.option_2 %}
    {% assign option_3 = block.settings.option_3 %}
{% if title != blank and option_1 != blank and option_2 != blank and option_3 != blank %}
    <div class="questionanswer-1">
      <h3>{{ title }}</h3>
      <div class="inputSelector">
        <input type="radio" id="{{ option_1 | handle }}" name="{{ title | handle }}" value="{{ option_1 }}">
        <label for="{{ option_1 | handle }}">{{ option_1 }}</label><br>
        <input type="radio" id="{{ option_2 | handle }} " name="{{ title | handle }}" value="{{ option_2 }}">
        <label for="{{ option_2 | handle }} ">{{ option_2 }}</label><br>
        <input type="radio" id="{{ option_3 | handle }}" name="{{ title | handle }}" value="{{ option_3 }}">
        <label for="{{ option_3 | handle }} ">{{ option_3 }}</label>
<br
    {% assign h = 00 %}
    {{ h }}
    {% assign h = h | plus: 1 %}
    {{ h }}
        
        {%- assign a1 = a | plus: 1 -%}{{ a1 }}{{ b }}{{ c }}
        {{ a }}{%- assign b1 = b | plus: 1 -%}{{ b1 }}{{ c }}
        {{ a }}{{ b }}{%- assign c1 = c | plus: 1 -%}{{ c1 }}
        <select name="{{ title | handle }}" class="selector-hidden">
          <option data-value="000000" value="" selected></option>
          <option data-value="{%- assign a1 = a | plus: 1 -%}{{ a1 }}{{ b }}{{ c }}" value="{{ block.settings.option_1 }}" >{{ block.settings.option_1 }}</option>
          <option data-value="{{ a }}{%- assign b1 = b | plus: 1 -%}{{ b1 }}{{ c }}" value="{{ option_2 }}" >{{ option_2 }}</option>
          <option data-value="{{ a }}{{ b }}{%- assign c1 = c | plus: 1 -%}{{ c1 }}" value="{{ option_3 }}" >{{ option_3 }}</option>
        </select>
      </div>
    </div>

    {% endif %}
    {% endfor %}
  </div>
</section>

{% schema %}
  {
    "name": "MCQ",
    "class": "spaced-section spaced-section--full-width mcq-section",
    "settings": [],
    "blocks": [
      {
        "type": "mcq",
        "name": "MCQ",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "default": "Question",
            "label": "Question"
          },
          {
            "type": "text",
            "id": "option_1",
            "label": "Option 1"
          },
          {
            "type": "text",
            "id": "option_2",
            "label": "Option 2"
          },
          {
            "type": "text",
            "id": "option_3",
            "label": "Option 3"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "MCQ",
        "blocks": [
          {
            "type": "mcq"
          },
          {
            "type": "mcq"
          },
          {
            "type": "mcq"
          }
        ]
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
