<section>
  <div>
    {%- assign a = 00 -%}
    {%- assign b = 00 -%}
    {%- assign c = 00 -%}
    {% for block in section.blocks %}
    {% assign title = block.settings.title %}
    {% assign option_1 = block.settings.option_1 %}
    {% assign option_2 = block.settings.option_2 %}
    {% assign option_3 = block.settings.option_3 %}
{% if title != blank and option_1 != blank and option_2 != blank and option_3 != blank %}
    <div class="questionanswer-{{ forloop.index }}" {% unless forloop.first %}style="display:none;"{% endunless %}>
      <h3>{{ title }}</h3>
      <div class="inputSelector">
        <input type="radio" id="{{ option_1 | handle }}" name="{{ title | handle }}" value="{{ option_1 }}">
        <label for="{{ option_1 | handle }}">{{ option_1 }}</label><br>
        <input type="radio" id="{{ option_2 | handle }} " name="{{ title | handle }}" value="{{ option_2 }}">
        <label for="{{ option_2 | handle }} ">{{ option_2 }}</label><br>
        <input type="radio" id="{{ option_3 | handle }}" name="{{ title | handle }}" value="{{ option_3 }}">
        <label for="{{ option_3 | handle }} ">{{ option_3 }}</label>
<br>
        <select name="{{ title | handle }}" class="selector-hidden">
          <option data-value="000000" value="" selected></option>
          <option data-value="010000" value="{{ block.settings.option_1 }}" >{{ block.settings.option_1 }}</option>
          <option data-value="000100" value="{{ option_2 }}" >{{ option_2 }}</option>
          <option data-value="000001" value="{{ option_3 }}" >{{ option_3 }}</option>
        </select>
      </div>
      {% unless forloop.last %}
      <div class="button button--primary next-question" data-current="questionanswer-{{ forloop.index }}" data-next="questionanswer-{{ forloop.index | plus: 1 }}">Next</div>
      {% endunless %}
      {% if forloop.last %}
      <div class="button button--primary find-product">Recommend Products</div>      
      {% endif %}
    </div>
    {% endif %}
    {% endfor %}
    <h1 class="counter" style="position:fixed;top:30%; right: 10%;">000000</h1>
  </div>
</section>

{% schema %}
  {
    "name": "MCQ",
    "class": "spaced-section spaced-section--full-width mcq-section",
    "settings": [],
    "blocks": [
      {
        "type": "mcq",
        "name": "MCQ",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "default": "Question",
            "label": "Question"
          },
          {
            "type": "text",
            "id": "option_1",
            "label": "Option 1"
          },
          {
            "type": "text",
            "id": "option_2",
            "label": "Option 2"
          },
          {
            "type": "text",
            "id": "option_3",
            "label": "Option 3"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "MCQ",
        "blocks": [
          {
            "type": "mcq"
          },
          {
            "type": "mcq"
          },
          {
            "type": "mcq"
          }
        ]
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
  window.addEventListener('DOMContentLoaded', function(){
    $('.next-question').click(function(){
      var nextlink = $(this).attr('data-next');
      var currentlink = $(this).attr('data-current');
      $('.'+currentlink).css('display','none');
      $('.'+nextlink).css('display','block');
    });
    
    
    $('.selector-hidden, input').change(function(){
      var _this = $(this);
      var _thisparent = _this.parent();
      var valueAttribute = '[value="' + _this.val() + '"]';
      _thisparent.find('.selector-hidden option' + valueAttribute).prop('selected', true);
      _thisparent.find('input' + valueAttribute).prop('checked', true);
      var add = parseInt(_thisparent.find('.selector-hidden option' + valueAttribute).attr('data-value'));
      var oldcounter = parseInt($('.counter').text());
      var sum = add + oldcounter;
    //  alert('add'+add);
   //   alert('oldcounter'+oldcounter);
   //   alert('sum'+sum);
      if (sum.toString().length < 6){
        if(sum.toString().length == 5){
          sum = '0'+sum;
        }else if(sum.toString().length == 4){
          sum = '00'+sum;
        }else if(sum.toString().length == 3){
           sum = '000'+sum;
        }else if(sum.toString().length == 2){
          sum = '0000'+sum;
        }else if(sum.toString().length == 1){
          sum = '00000'+sum;
        }
        $('.counter').text(sum);
      }else{
         sum = sum;
        $('.counter').text(sum);
      }

    });
  });
</script>